# Options -Indexes
Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)/(.*)/?(.*)?$ index.php?controller=$1&action=$2&id=$3 [NC,L,QSA]

# Errores
ErrorDocument 403 https://keep.dev/error/forbidden
ErrorDocument 404 https://keep.dev/error/notfound
